node_modules
build
dist
coverage
.DS_Store
*.log
.env*
!.env.example
build.pid
android/app/build
android/.gradle
android/local.properties
android/captures
.gradle
.cache
.npm
.eslintcache
tmp
temp
*.apk
*.aab
*.keystore
*.zip
*.tar
*.gz
*.tgz

